.App {
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.listing-container {
  margin: 50px;
}

.card {
  width: 20vw;
  margin: 25px;
}

.listing-card {
  margin: 25px
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 20px;
}

.text-gray {
  color: gray
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 20px;
}

.car-container {
  margin: 50px;
}

.car-paper {
  padding: 50px;
}

.listing-paper {
  padding: 50px
}


.login-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
}

.icon {
  font-size: medium !important;
}

.icon:hover {
  cursor: pointer
}

.text-gray {
  color: gray
}

.text-red {
  color: red
}


.add-car {
  background: #4caf50 !important;
  color: white !important;
}
.add-listing-form {
  color: green;
}

.form {
  width: 400px;
}

.new-listing-input {
  width: 400px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.add-listing-page {
  margin: 25px;
}

.loggedUser {
  display: flex;
  height: 25px;
  width: 100%;
  background-color: grey;
}